---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-px bg-gray-800 bg-none bg-400% rounded-lg bg-right transition-all duration-600 shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] hover:bg-left hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500 focus-within:bg-left focus-within:bg-gradient-to-r focus-within:from-purple-500 focus-within:to-pink-500 group">
	<a href={href} class="w-full no-underline leading-relaxed p-6 rounded-lg text-white bg-gray-800 opacity-80">
		<h2 class="m-0 text-xl transition-colors duration-600 group-hover:text-purple-300 group-focus-within:text-purple-300">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-2 mb-0">
			{body}
		</p>
	</a>
</li>
